* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 44, 44);
    color: antiquewhite;
}

#app{
    width: 100vw;
    height: 100vh;
}

#buttonPari,#buttonDispari{
    width: 100px;
}

#return{
    margin: 20px;
}
